<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link{{ " active" if page_name == "Латынкатар" else "" }}" aria-current="page" href="/">Латынкатар</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{ " active" if page_name == "Усе літары" else "" }}" aria-current="page" href="/litary/">Усе літары</a>
    </li>
</ul>