{% include 'head.j2' %}
<div id="about">
    <p  class="text-justify">
        Гэтая старонка з анлайн канвертэрам беларускага тэксту з кірыліцы ў лацінку — невялікі ўзор ўжывання маёй бібліятэкі 
        <a href="https://pypi.org/project/latynkatar/" >latynkatar</a>, якая даступная на PyPi пад ліцэнзіяй 
        <a href="https://github.com/measles/latynkatar?tab=LGPL-3.0-1-ov-file">LGPLv3</a>. Бібліятэка робіць вельмі
        простую канвертацыю тэкста да сучаснай лацінкі (з v, ǔ, č і š), згодна з простымі правіламі, пакідаючы ўсё апроч 
        кірылічных літар нязменным. Ніякіх дадатковых дзеянняў с тэкстам не здзясняецца, так што правапіс застаецца роўна такім,
        які быў да канвертацыі.
    </p>
    <p  class="text-justify">
        Калі вы заўважылі памылку ў працы бібліятэкі — пакіньце, калі ласка, справаздачу пра тое што адбылося 
        <a href="https://github.com/measles/latynkatar/issues">тут</a>, стварыўшы новую задачу. Там жа можна стварыць запыт на новыя функцыі.
    </p>
    <p>Старонка разгорнутая з дапамогай App Platform ад DigitalOcean.</p>
    <a href="https://www.digitalocean.com/?refcode=b45621f2ea26&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>
</div>
{% include 'tail.j2' %}
