{% include 'common/head.j2' %}
<div id="about" class="container p-3">
    <p  class="text-justify">
        Гэтая старонка з анлайн канвертэрам беларускага тэксту з кірыліцы ў лацінку — невялікі ўзор ўжывання маёй бібліятэкі 
        <a href="https://pypi.org/project/latynkatar/" >latynkatar</a>, якая даступная на PyPi пад ліцэнзіяй 
        <a href="https://github.com/measles/latynkatar?tab=LGPL-3.0-1-ov-file">LGPLv3</a>. Бібліятэка робіць вельмі простую канвертацыю
        тэкста да сучаснай (з v, ǔ, č і š) ці класічнай (з ż, cz, sz і w) лацінкі, пакідаючы ўсё апроч кірылічных літар нязменным. 
    </p>
    <p  class="text-justify">
        Правапіс застаецца роўна такім, які быў да канвертацыі. Можна уключыць пазначэнне транзітыўнай мяккасці (яна робіцца па правілах класічнага
        правапісу). 
    </p>
    <p  class="text-justify">
        Кірылічныя сімвалы, якім адпавядае некалькі лацінскіх сімвалаў пры трансляцыі вялікіх літар маюць вялікай толькі першую
        літару ў пары (Chleb, Jan), што можа быць праблемай у выпадках, калі гэта не слова з вялікай літары ці абрэвіятура, а проста нешта
        напісанае КАПСАМ. Бо атрымаецца ChLEB, JaN.
    </p>
    <p  class="text-justify">
        Настройкі канвертара захоўваюцца паміж сесіямі, калі гэта не забаронена ў браўзэры карыстальніка. Тады не захоўваюцца, 
        бо гэта інфармацыя захоўваецца з боку карыстальніка, а не сервера.
    </p>
    <p  class="text-justify">
        Канвертар падтрымлівае кіраванне кнопкамі:     
    </p>
    <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>F1</strong> каб паказаць даведку</li>
                <li class="list-group-item"><strong>Ctrl + 1</strong> каб пераключыцца на сучасную ("чэшскую") лацінку</li>
                <li class="list-group-item"><strong>Ctrl + 2</strong> каб пераключыцца на старую ("польскую") лацінку</li>
                <li class="list-group-item"><strong>Ctrl + Enter</strong> каб здзейсніць канвертацыю</li>
                <li class="list-group-item"><strong>Ctrl + Delete</strong> каб ачысціць поле ўводу тэксту</li>
            </ul>
    <p  class="text-justify">
        Калі вы заўважылі памылку ў працы бібліятэкі — пакіньце, калі ласка, справаздачу пра тое што адбылося 
        <a href="https://github.com/measles/latynkatar/issues">тут</a>, стварыўшы новую задачу. Там жа можна стварыць запыт на новыя функцыі.
    </p>
    <p>Старонка разгорнутая з дапамогай App Platform ад DigitalOcean.</p>
    <a href="https://www.digitalocean.com/?refcode=b45621f2ea26&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>
</div>
{% include 'common/tail.j2' %}
