{% include 'head.j2' %}
<div id="about" class="container p-3">
    <p  class="text-justify">
        {{ gettext('Гэтая старонка з анлайн канвертэрам беларускага тэксту з кірыліцы ў лацінку — невялікі ўзор ўжывання маёй бібліятэкі 
        <a href="https://pypi.org/project/latynkatar/" >latynkatar</a>, якая даступная на PyPi пад ліцэнзіяй 
        <a href="https://github.com/measles/latynkatar?tab=LGPL-3.0-1-ov-file">LGPLv3</a>. Бібліятэка робіць вельмі простую 
        канвертацыю тэксту да лацінкі  як сучаснай (з v, ž, č і š), так і класічнай (з w, ż, cz, sz) згодна з простымі правіламі,
        пакідаючы ўсё апроч кірылічных літар нязменным. Ніякіх дадатковых дзеянняў з тэкстам не здзяйсняецца, так што правапіс
        застаецца роўна такім, які быў да канвертацыі. Зыходнікі старонкі даступныя <a href="https://github.com/measles/latynkatar_site">тут</a>
        пад ліцэнзіяй <a href="https://github.com/measles/latynkatar_site/blob/main/LICENSE">BSD</a>.') }}
    </p>
    <p  class="text-justify">
        {{ gettext("Канвертар падтрымлівае кіраванне кнопкамі:") }}     
    </p>
    <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>F1</strong> {{ gettext("каб паказаць даведку") }} </li>
                <li class="list-group-item"><strong>Ctrl + 1</strong> {{ gettext("каб пераключыцца на сучасную лацінку") }} </li>
                <li class="list-group-item"><strong>Ctrl + 2</strong> {{ gettext("каб пераключыцца на класічную лацінку") }} </li>
                <li class="list-group-item"><strong>Ctrl + Enter</strong> {{ gettext("каб здзейсніць канвертацыю") }} </li>
                <li class="list-group-item"><strong>Ctrl + Delete</strong> {{ gettext("каб ачысціць поле ўводу тэксту") }} </li>
            </ul>
    <p  class="text-justify">
        {{ gettext('Калі вы заўважылі памылку — пакіньце, калі ласка, справаздачу пра тое што адбылося <a href="https://github.com/measles/latynkatar_site/issues">тут</a>, стварыўшы новую задачу. Там жа можна стварыць запыт на новыя функцыі.') }}
    </p>
    <p>{{ gettext("Старонка разгорнутая з дапамогай App Platform ад DigitalOcean.") }}</p>
    <a href="https://www.digitalocean.com/?refcode=b45621f2ea26&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>
</div>
{% include 'tail.j2' %}
