    <!-- Тост з даведкай -->
    <div class="toast-container d-flex justify-content-center align-items-center w-100">
        <div id="helpToast" class="toast bg-white border-1" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="20000">
            <div class="toast-header bg-body-tertiary">
                <button class="btn btn-outline-success btn-sm rounded-circle me-2" type="button" hidden"><i class="fa fa-info"></i></button>
                <strong class="me-auto">{{ gettext("Кіраванне кнопкамі") }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body p-3">
                {{ gettext("Канвертар падтрымлівае кіраванне кнопкамі:") }}
                <ul class="list-group list-group-flush p-3">
                    <li class="list-group-item"><strong>F1</strong> {{ gettext("каб паказаць даведку") }}</li>
                    <li class="list-group-item"><strong>Ctrl + 1</strong> {{ gettext("каб пераключыцца на сучасную лацінку") }}</li>
                    <li class="list-group-item"><strong>Ctrl + 2</strong> {{ gettext("каб пераключыцца на класічную лацінку") }}</li>
                    <li class="list-group-item"><strong>Ctrl + Enter</strong> {{ gettext("каб здзейсніць канвертацыю") }}</li>
                    <li class="list-group-item"><strong>Ctrl + Delete</strong> {{ gettext("каб ачысціць поле ўводу тэксту") }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Тост з даведкай -->