{% include 'common/head.j2' %}
   <div class="container p-3">
      <div class="accordion" id="links">
         {% for razdziel in spasylki %}
         <!-- {{ razdziel.zagalovak }} -->
         <div class="accordion-item">
            <h2  class="accordion-header">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ razdziel.nazva }}" aria-expanded="false" aria-controls="collapse{{ razdziel.nazva }}">
                  {{ razdziel.zagalovak }}
               </button>
            </h2>
            <div id="collapse{{ razdziel.nazva }}" class="accordion-collapse collapse" data-bs-parent="#links">
               <div class="accordion-body">
                  <div class="list-group">
                     {% for url, description in razdziel.spasylki %}<a href="{{ url }}">{{ url }} </a>{{ description }} 
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
         <!-- {{ razdziel.zagalovak }} -->
         {% endfor %}
      </div>
   </div>
{% include 'common/tail.j2' %}