 <!-- Footer -->
 <footer class="text-center text-lg-start bg-body-tertiary text-muted fixed-bottom">
  <!-- Copyright -->
   <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
     © 2024 Copyright:
     <a class="text-reset fw-bold" href="https://github.com/measles">Andrej Zacharevicz</a>
   </div>
   <!-- Copyright -->
 </footer>
 <!-- Footer -->
</body>
</html>